<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Coach Gordon is a certified fencing instructor and coach developer based in Toronto, Ontario. 
          <br><br>
          Gordon competed for Canada internationally in the under 20 category, was a private coach for a senior national team 
          fencer, and volunteered to coach for his alma matter. 
          <br><br>
          He went on to introduce hundreds of newcomers to the sport of fencing by launching new fencing programs in five different 
          clubs in the Greater Toronto Area.</p>
      </div>
      <div class="col-lg-4">
        <p>Along the way his students have captured numerous regional and national medals from U11 to Sr. 
          <br><br>
          If you are... <br>– looking to improve your fencing <br>– looking for certified fencing staff
          <br>– looking to learn coaching<br>–  looking to share policy ideas with the CFF Gender Equity committee 
          <br><br>
          Then I want to hear from you! My contact form below would be a great place to connect with me. </p>
      </div>
    </div>
  </div>
</section>
